// OTI TOPIC VARIABLES 

$font-primary: 'Nunito', sans-serif; 

$color-primary: #081D31; // Primary Dark Blue 
$color-black: #081d32;
$color-white: #ffffff;
$color-darkkhaki: #dca03d;
$color-orange: #ffa000; 


// BREAKPOINTS

$bp-desktop-lg: 79.3em; // 1270px
$bp-desktop-md: 72.5em; // 1160px
$bp-tab-lg: 64em; // 1024
$bp-tab-md: 61.9em; // 991px
$bp-tab-pt: 53.75em; // 860px
$bp-tab-sm: 48em; // 768px
$bp-mobile-lg: 40em; // 640px
$bp-mobile-md: 35.5em; // 568px
$bp-mobile-sm: 25.8em; // 414px