// OTITOPIC HERO BANNERS

.otitopic-header-info {
    position: relative;
    z-index: 9;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px !important;

    @media only screen and (max-width: 768px) {
        padding-left: 30px;
        padding-right: 110px;
    }

    @media only screen and (max-width: 767px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 661px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 640px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 600px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 575px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 526px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 485px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }
    
    @media only screen and (max-width: 414px) {
        padding: 10px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 411px) {
        padding: 10px !important;
        padding-left: 0;
        padding-right: 0;
    }

	.banner-tag-head {
        position: absolute;
        background: $color-primary;
        padding: 40px 80px 40px;
        margin-top: -135px;
        z-index: 9;
        width: 400px;

        @media only screen and (max-width: 990px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -157px;
        }

        @media only screen and (max-width: 860px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -140px;
        }
        
        // @media only screen and (max-width: 768px) {
        //     position: relative;
        //     padding: 30px 40px 40px;
        //     width: 100%;
        //     height: auto;
        //     margin-top: -195px;
        // }

        /* Portrait and Landscape */
        @media only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (-webkit-min-device-pixel-ratio: 1) {
                position: relative;
                padding: 30px 40px 40px;
                width: 100%;
                height: auto;
                margin-top: -155px;
        }

        @media only screen and (max-width: 767px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 661px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 640px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 600px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 575px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -276px;
        }

        @media only screen and (max-width: 526px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -235px;
        }

        @media only screen and (max-width: 485px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -276px;
        }

        @media only screen and (max-width: 415px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 78%;
            height: auto;
            margin-top: -155px;
        }

        @media only screen and (max-width: 414px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 78%;
            height: auto;
            margin-top: -155px;
        }

        @media only screen and (max-width: 411px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 78%;
            height: auto;
            margin-top: -155px;
        }

        @media only screen and (max-width: 375px) {
            position: relative;
            padding: 30px 35px 40px;
            width: 78%;
            height: auto;
            margin-top: -155px;
        }

        @media only screen and (max-width: 320px) {
            position: relative;
            padding: 30px 30px 40px;
            width: 78%;
            height: auto;
            margin-top: -155px;
        }


        h2 {
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 44px;
            line-height: 60px;
            color: $color-white;
            text-align: left;

            @media only screen and (max-width: 575px) {
                font-family: $font-primary;
                font-size: 23px;
                line-height: 44px;
            }

            @media only screen and (max-width: 526px) {
                font-family: $font-primary;
                font-size: 35px;
                line-height: 44px;
            }

            @media only screen and (max-width: 485px) {
                font-family: $font-primary;
                font-size: 35px;
                line-height: 44px;
            }

            @media only screen and (max-width: 414px) {
                .text-orange{
                    color: $color-orange;
                    width: 50%;
                    text-transform: uppercase; 
                }
            }

            @media only screen and (max-width: 411px) {
                font-family: $font-primary;
                font-size: 30px;
                line-height: 44px;
                width: 50%;
                .text-orange{
                    color: $color-orange;
                    width: 50%;
                    text-transform: uppercase; 
                }
            }
        }

        ul {
            margin-top: 20px;
            li {
                font-family: $font-primary;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: #E6ECF0;

                @media only screen and (max-width: 411px) {
                    font-size: 16px;
                }
            }
        }

        p {
            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 23px;
            color: #E6ECF0;
            width: 100%;
        }
    }

    .breadcrumbs{
        list-style-type: none;
        display: flex;
        float: right;
        padding-top: 30px;

        @media only screen and (max-width: 990px) {
           display: none;
        }

        @media only screen and (max-width: 860px) {
            display: none;
        }

        @media only screen and (max-width: 767px) {
            display: none;
        }

        @media only screen and (max-width: 661px) {
           display: none;
        }

        @media only screen and (max-width: 640px) {
            display: none;
        }

        @media only screen and (max-width: 600px) {
           display: none;
        }

        @media only screen and (max-width: 575px) {
            display: none;
        }

        @media only screen and (max-width: 526px) {
            display: none;
        }

        @media only screen and (max-width: 485px) {
            display: none;
        }

        @media only screen and (max-width: 411px) {
            display: none;
        }

        .inactive {
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 155%;
            color: #1B3349;
        }

        .active {
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 155%;
        }
    }

    .breadcrumbs > * + *::before {
        content: ">";
        padding: 0 16px;
    }
}

.home-banner {
  	background: url('../img/banners/home-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: right;
  	height: 100vh;
}

.about-us-banner {
  	background: url('../img/banners/about-us-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
    height: 550px;
      
    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }
    
    @media only screen and (max-width: 415px) {
        height: 300px;
    }

    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}

.press-releases-banner {
    background: url('../img/banners/press-releases-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;

    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}

.therapies-banner {
  	background: url('../img/banners/therapies-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
    height: 550px;
      
    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}

.research-banner {
  	background: url('../img/banners/research-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 550px;

    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }
    
    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}

.technology-banner {
  	background: url('../img/banners/technology-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 550px;

    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}

.careers-banner {
  	background: url('../img/banners/careers-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 550px;

    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}

.contact-us-banner {
  	background: url('../img/banners/contact-us-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 550px;

    /* ----------- iPad 1, 2, Mini and Air ----------- */

    /* Portrait and Landscape */
    @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height: 300px;
    }

    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 10.5" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1112px) 
    and (max-device-width: 1112px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* ----------- iPad Pro 12.9" ----------- */

    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Portrait */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    /* Landscape */
    /* Declare the same value for min- and max-width to avoid colliding with desktops */
    /* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
    @media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 300px;
    }

    @media only screen and (max-width: 411px) {
        height: 300px;
    }
}