// OTITOPIC HERO BANNERS

.otitopic-header-info {
    position: relative;
    z-index: 9;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: -60px;

    @media only screen and (max-width: 767px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 661px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 640px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 600px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 575px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 526px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 485px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (max-width: 411px) {
        padding: 20px !important;
        padding-left: 0;
        padding-right: 0;
    }

	.banner-tag-head {
        position: absolute;
        background: $color-primary;
        padding: 40px 80px 40px;
        margin-top: -150px;
        z-index: 9;
        width: 600px;
        height: 270px;

        @media only screen and (max-width: 990px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -157px;
        }

        @media only screen and (max-width: 860px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -140px;
        }

        @media only screen and (max-width: 767px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 661px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 640px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 600px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -195px;
        }

        @media only screen and (max-width: 575px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -276px;
        }

        @media only screen and (max-width: 526px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -235px;
        }

        @media only screen and (max-width: 485px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -276px;
        }

        @media only screen and (max-width: 411px) {
            position: relative;
            padding: 30px 40px 40px;
            width: 100%;
            height: auto;
            margin-top: -276px;
        }


        h2 {
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 60px;
            color: $color-white;
            text-align: left;

            @media only screen and (max-width: 575px) {
                font-family: $font-primary;
                font-size: 45px;
                line-height: 44px;
            }

            @media only screen and (max-width: 526px) {
                font-family: $font-primary;
                font-size: 35px;
                line-height: 44px;
            }

            @media only screen and (max-width: 485px) {
                font-family: $font-primary;
                font-size: 35px;
                line-height: 44px;
            }

            @media only screen and (max-width: 411px) {
                font-family: $font-primary;
                font-size: 30px;
                line-height: 44px;
            }
        }

        ul {
            margin-top: 20px;
            li {
                font-family: $font-primary;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 145%;
                color: #E6ECF0;

                @media only screen and (max-width: 411px) {
                    font-size: 16px;
                }
            }
        }

        p {
            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 145%;
            color: #E6ECF0;
            width: 100%;
        }
    }

    .breadcrumbs{
        list-style-type: none;
        display: flex;
        float: right;
        padding-top: 30px;

        @media only screen and (max-width: 990px) {
           display: none;
        }

        @media only screen and (max-width: 860px) {
            display: none;
        }

        @media only screen and (max-width: 767px) {
            display: none;
        }

        @media only screen and (max-width: 661px) {
           display: none;
        }

        @media only screen and (max-width: 640px) {
            display: none;
        }

        @media only screen and (max-width: 600px) {
           display: none;
        }

        @media only screen and (max-width: 575px) {
            display: none;
        }

        @media only screen and (max-width: 526px) {
            display: none;
        }

        @media only screen and (max-width: 485px) {
            display: none;
        }

        @media only screen and (max-width: 411px) {
            display: none;
        }

        .inactive {
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 155%;
            color: #1B3349;
        }

        .active {
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 155%;
        }
    }

    .breadcrumbs > * + *::before {
        content: ">";
        padding: 0 16px;
    }
}

.home-banner {
  	background: url('../img/banners/home-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: right;
  	height: 100vh;
}

.about-us-banner {
  	background: url('../img/banners/about-us-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 440px;
}

.press-releases-banner {
    background: url('../img/banners/press-releases-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
}

.therapies-banner {
  	background: url('../img/banners/therapies-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 440px;
}

.research-banner {
  	background: url('../img/banners/research-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 440px;
}

.technology-banner {
  	background: url('../img/banners/technology-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 440px;
}

.careers-banner {
  	background: url('../img/banners/careers-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 440px;
}

.contact-us-banner {
  	background: url('../img/banners/contact-us-banner.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	height: 440px;
}