.testimonials-section  {
	background: $color-primary !important;
	
	@media only screen and (max-width: 767px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 661px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 600px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 575px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 526px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 485px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 411px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	img {
		max-width: 3rem;
		padding-bottom: 1rem;
	}

   	h2 {
   		font-family: $font-primary;
		font-style: italic;
		font-weight: 600;
		font-size: 23px !important;
		line-height: 35px;
		color: $color-white;

		@media only screen and (max-width: $bp-mobile-sm) {
	        font-size: 18px !important;
	    } 
   	}

   	.author {
   		display: grid;
   		grid-template-columns: 8% 80%;
   		grid-gap: 1rem;

   		.line-separator {
   			margin-top: 3.6rem;
   		}

   	}

   	h4 {
   		font-family: $font-primary;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: $color-white;
		padding-top: 2rem;
   	}

   	p {
   		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: $color-white;
   	}
  
  @media only screen and (width: 768px) {
    .item{
      padding: 10px 30px 10px 45px; 
    }
  }

  @media only screen and (max-width: 414px) {
    .item{
      padding: 0px 20px 10px 30px; 
    }
  }

}