.bg-primary {
	background: $color-primary !important;
}

.is-mobile {
	@media only screen and (min-width: 1025px) and (max-width: 4000px) {
		display: none;
	 }
}

.is-desktop {
	@media only screen and (min-width: 300px) and (max-width: 1026px) {
	   display: none;
	}
}

.clear-margin-top-ipad {
	@media only screen and (max-width: 768px) {
		margin-top: -32px !important;
	}
}
