.dope-nav-container  .about-us-list-nav a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 155%;
    color: $color-primary !important;
    display: inline-block;
}

.dope-nav-container .about-us-list-nav a:hover,
.dope-nav-container .about-us-list-nav a.active,
.dope-nav-container .about-us-list-nav a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  color: $color-orange !important;
}


.recovering-hearts-section {

    .card-wrap {
        background: #E6ECF0;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        border-left: 2px solid $color-orange;
        height: 80px;
        margin-top: 2rem;
        margin-bottom: 2rem;

        p {
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 155%;
            color: #1B3349;
            padding: 20px;
            justify-items: center;
            align-items: center;
        }
    }
}

.our-mission-section {
    background: #EBE9E8;

    .col-md-rev-mission {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);

        .text-wrap {
            background: $color-white;
            padding: 56px;
            height: 100%;

            h2 {
                font-family: $font-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 45px;
                color: $color-primary
            }

            h4 {
                font-family: $font-primary;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 155%;
                color: #081D31;

            }

            p {
                font-family: $font-primary;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 155%;
                color: $color-primary;
            }
        }

        .img-wrap {
            height: 100%;
            width: 100%;
            display: grid;
            grid-auto-rows: minmax(100px, auto);

            .content-wrap {
                background: #0F63A7;
                height: 100%;

                .text-area {
                    padding: 50px;

                    h2 {
                        font-family: $font-primary;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 36px;
                        color: $color-white;
                    }

                    p {
                        font-family: $font-primary;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 155%;
                        color: #E6ECF0;
                        margin-top: 2rem;
                    }

                    a {
                        margin-top: 3rem;
                        width: 64%;
                    }
                }
            }
        }
    }
}


.regulatory-pathway-section {
    $color-white:#fff;
    $brand-color-g: #E6ECF0;
    $brand-color:#df8625;

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
          @content;
        }
    }
    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint == "md" {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}

.ps-timeline-sec {
    position: relative;
    background: $color-white;

    .container {
        position: relative;

        ol {

            @include respond-to(xs) {
                &:before {
                    background: $brand-color-g;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    position: absolute;
                    top: 130px !important;
                    left: 36px !important;
                }

                &:after {
                    background: #DDDDDD;
                    content: "";
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                    position: absolute;
                    top: inherit !important;
                    left: 36px;
                }

                &.ps-timeline {
                    margin: 130px 0 !important;
                    border-left: 2px solid #348e80;
                    padding-left: 0 !important;
                    padding-top: 120px !important;
                    border-top: 0 !important;
                    margin-left: 25px !important;

                    li {
                        height: 220px;
                        float: none !important;
                        width: inherit !important;

                        &:nth-child(2) {
                            .img-handler-bot {
                                img {
                                    width: 70px;
                                }
                            }
                        }

                        &:last-child {
                            margin: 0;
                            bottom: 0 !important;
                            height: 120px;

                            .img-handler-bot {
                                bottom: 40px !important;
                                width: 40% !important;
                                margin-left: 25px !important;
                                margin-top: 0 !important;

                                img {
                                    width: 100%;
                                }
                            }

                            .ps-top {
                                margin-bottom: 0 !important;
                                top: 20px;
                                width: 50% !important;
                            }
                        }



                        span {
                            left: 0 !important;

                            &.ps-sp-top {
                                &:before {
                                    content: none !important;
                                }

                                &:after {
                                    content: none !important;
                                }
                            }

                            &.ps-sp-bot {
                                &:before {
                                    content: none !important;
                                }

                                &:after {
                                    content: none !important;
                                }
                            }
                        }

                        .img-handler-top {
                            position: absolute !important;
                            bottom: 150px !important;
                            width: 100% !important;
                            float: left !important;
                            margin-bottom: 0 !important;

                            h2 {
                                font-family: $font-primary;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 23px;
                                color: $color-orange !important;
                            }

                           p {
                            font-family: $font-primary;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 23px;
                            color: #1B3349;
                            text-align: left !important;
                           }
                        }

                        .img-handler-bot {
                            position: absolute !important;
                            bottom: 115px !important;
                            width: 30% !important;
                            float: left !important;
                            margin-left: 35px !important;
                            margin-bottom: 0 !important;

                            img {
                            }
                        }

                        p {
                            text-align: left !important;
                            width: 100% !important;
                            margin: 0 auto !important;
                            margin-top: 0px !important;
                        }

                        .ps-top {
                            width: 60% !important;
                            float: right !important;
                            right: 0;
                            top: -40px;
                        }

                        .ps-bot {
                            width: 60% !important;
                            float: right !important;
                            right: 0;
                            top: -40px;
                        }
                    }
                }
            }


            &:before {
                background: #DDDDDD;
                content: "";
                width: 48px;
                height: 48px;
                border-radius: 100%;
                position: absolute;
                left: 8px;
                top: -22px;
            }

            &:after {
                background: #DDDDDD;
                content: "";
                width: 48px;
                height: 48px;
                border-radius: 100%;
                position: absolute;
                right: 0;
                top: -22px;
            }

            &.ps-timeline {
                margin: 390px 0;
                padding: 0;
                border-top: 2px solid $brand-color-g;
                list-style: none;

                li {
                    float: left;
                    width: 25%;
                    padding-top: 30px;
                    position: relative;

                    span {
                        width: 18px;
                        height: 18px;
                        margin-left: -25px;
                        background: $color-orange;
                        border-radius: 50%;
                        box-shadow: 0 0 0 0px $color-white;
                        text-align: center;
                        line-height: 50px -10;
                        color: $brand-color;
                        font-size: 2em;
                        font-style: normal;
                        position: absolute;
                        top: -10px;
                        left: 50%;

                        &.ps-sp-top {
                            &:before {
                                content: '';
                                color: $brand-color-g;
                                width: 2px;
                                height: 50px;
                                background: $brand-color-g;
                                position: absolute;
                                top: -50px;
                                left: 50%;
                            }
                        }

                        &.ps-sp-bot {
                            &:before {
                                content: '';
                                color: $brand-color-g;
                                width: 2px;
                                height: 50px;
                                background: $brand-color-g;
                                position: absolute;
                                bottom: -50px;
                                left: 50%;
                            }
                        }
                    }

                    .img-handler-top {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 130px;
                        width: 100%;

                        img {
                            display: table;
                            margin: 0 auto;
                        }
                    }

                    .img-handler-bot {
                        position: absolute;
                        margin-top: 60px;
                        width: 100%;

                        img {
                            display: table;
                            margin: 0 auto;
                        }
                    }

                    p {
                        text-align: left;
                        width: 80%;
                        // margin: 0 auto;
                    }

                    .ps-top {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 100px;
                    }

                    .ps-bot {
                        position: absolute;
                        margin-top: 35px;
                    }
                }
            }
        }
    }
}
}


