.dope-nav-container  .about-us-list-nav a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 155%;
    color: $color-primary !important;
    display: inline-block;
}

.dope-nav-container .about-us-list-nav a:hover,
.dope-nav-container .about-us-list-nav a.active,
.dope-nav-container .about-us-list-nav a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  color: $color-orange !important;
}


.recovering-hearts-section {

    .card-wrap {
        background: #E6ECF0;
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        border-left: 2px solid $color-orange;
        height: 80px;
        margin-top: 2rem;
        margin-bottom: 2rem;

        p {
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 155%;
            color: #1B3349;
            padding: 20px;
            justify-items: center;
            align-items: center;
        }
    }
}



