
.dope-nav-container  .about-us-list-nav a {
  	-webkit-transition-duration: 500ms;
  	transition-duration: 500ms;
  	text-decoration: none;
  	outline: none;
  	font-family: $font-primary;
  	font-style: normal;
  	font-weight: normal;
  	font-size: 15px;
  	line-height: 155%;
  	color: $color-primary !important;
  	display: inline-block;
}

.dope-nav-container .about-us-list-nav a:hover,
.dope-nav-container .about-us-list-nav a.active,
.dope-nav-container .about-us-list-nav a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: none;
  color: $color-orange !important;
}
