.contact-form-section {
	margin-top: -70px;
	
	@media only screen and (max-width: 768px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    @media only screen and (max-width: 767px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 661px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 600px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 575px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 526px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 485px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    
    @media only screen and (max-width: 414px) {
        padding: 10px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 411px) {
        padding: 10px !important;
        padding-bottom: 60px !important;
    }

	.form-wrap {
		background: #E6ECF0;
		padding: 50px;

		@media only screen and (max-width: $bp-tab-md) {
        padding:30px;
	    } 

	    @media only screen and (max-width: $bp-tab-pt) {
	        padding:30px;
	    } 

	    @media only screen and (max-width: $bp-mobile-lg) {
	        padding:30px;
	    } 

	    @media only screen and (max-width: 414px) {
			padding: 37px;
			margin-top: 0;
	    }

	    @media only screen and (max-width: 411px) {
			padding:42px;
			margin-top: 0;
	    }

	    @media only screen and (max-width: 375px) {
			padding: 55px;
			margin-top: 0;
	    }

	    @media only screen and (max-width: 360px) {
			padding: 61px;
			margin-top: 0;
	    }

	    @media only screen and (max-width: 320px) {
			padding: 81px;
			margin-top: 0;
	    } 

		h2 {
		  	font-family: $font-primary;
			font-style: normal;
			font-weight: 600;
			font-size: 32px;
			line-height: 49px;
			color: #0F63A7;

			@media only screen and (max-width: $bp-mobile-sm) {
		        line-height: 35px;
		    } 
		}

		p {
			font-family: $font-primary;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 27px;
			color: #081D31;
			margin-bottom: 30px;

			@media only screen and (max-width: $bp-mobile-sm) {
		        margin-top: 10px;
		    } 
		}

		input {
		  	margin-bottom: 20px;
		  	background: $color-white;
		  	border: none;
		  	border-radius: 1px !important;
			height: 40px;
			width: 90%;

			&:focus {
			  -webkit-box-shadow: none;
			          box-shadow: none;
			}
		}

		textarea {
			margin-bottom: 20px;
		  	background: $color-white;
		  	border: none;
			  border-radius: 1px !important;
			  width: 90%;

			&:focus {
			  -webkit-box-shadow: none;
			          box-shadow: none;
			}
		}
	}

	.contact-details-wrap {
		height: 100%;

		@media only screen and (max-width: 411px) {
	        margin-top: 70px !important;
	        padding: 0px !important;
	    }

		.contact-wrap {
			background: #0F63A7;
			padding: 30px;
			width: 85%;

			@media only screen and (max-width: 414px) {
		        padding: 40px;
		    }

			h2 {
				font-family: $font-primary;
				font-style: normal;
				font-weight: 600;
				font-size: 28px;
				line-height: 49px;
				color: $color-white;
			}

			.contact {

				.img-icon {
					margin-top: 1.3rem;
					margin-bottom: 1rem;

					img {
						max-width: 30px;
					}
				}

				span {
					font-family: $font-primary;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 33px;
					color: #E6ECF0;
				}

				p {
					font-family: $font-primary;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 33px;
					color: $color-white;
				}
			}

		}
	}
}


