// OTITOPIC HOME PAGE 

.home-page-banner {

	margin-top: 4rem;
	padding: 60px;

  	@media only screen and (max-width: $bp-tab-md) {
        padding:60px;
    } 

    @media only screen and (max-width: $bp-tab-pt) {
        padding:60px;
    } 

    @media only screen and (max-width: $bp-mobile-lg) {
        padding:60px;
    } 

    @media only screen and (max-width: $bp-mobile-sm) {
        padding:20px;
    } 

	h1 {
	    font-family: $font-primary;
	    font-style: normal;
	    font-weight: 600;
	    font-size: 60px;
	    line-height: 60px;
	    color: $color-white;

	    @media only screen and (max-width: $bp-mobile-sm) {
	        font-size: 50px;
	        text-align: center;
	        margin-top: 2rem;
	    } 
	}

	p {
	    font-family: $font-primary;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 26px;
	    line-height: 145%;
	    color: $color-white;

	    @media only screen and (max-width: $bp-mobile-sm) {
	        font-size: 23px;
	       	text-align: center;
	        margin-top: 2rem;
	    } 
	}
}


// Push the Boundaries

.push-the-boundaries-section {

  	padding: 60px;

  	// 991px

  	@media only screen and (max-width: $bp-tab-md) {
        padding:70px;
    } 

    @media only screen and (max-width: $bp-tab-pt) {
        padding:70px;
    } 

    // 768px

  	@media only screen and (max-width: $bp-tab-sm) {
        padding:20px;
    } 

    @media only screen and (max-width: $bp-mobile-lg) {
        padding:70px;
    } 

    @media only screen and (max-width: $bp-mobile-sm) {
        padding:20px;
    } 

  	.section-title-s3 {

      	h2 {
	        font-family: $font-primary;
	        font-style: normal;
	        font-weight: 600;
	        font-size: 36px;
	        line-height: 49px;
	        color: #081D31;
      	}

      	p {
	        font-family: $font-primary;
	        font-style: normal;
	        font-weight: normal;
	        font-size: 18px;
	        line-height: 155%;
	        text-align: center;
	        color: #1B3349;
      	}
  	}

	.push-the-boundaries-grids .grid {
	  	text-align: center;
	  	margin-top: 2rem;

	  	img {
	  		max-width: 80px;
	  	}

		h3 {
		    font-family: $font-primary;
		    font-style: normal;
		    font-weight: bold;
		    font-size: 26px;
		    line-height: 155%;
		    text-align: center;
		    color: #0F63A7;
		    margin: 0.8em 0 0.7em;
		}

		p {
		    font-family: $font-primary;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 16px;
		    line-height: 155%;
		    text-align: center;
		    color: #1B3349;
		    margin: 0;
		}
	}
}







.heart-attack-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-tab-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    // 991px

    @media only screen and (max-width: $bp-tab-md) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-tab-pt) {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    img {
    	width: 100%;
    }

    .text-content {

        h2 {
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 49px;
            color: #081D31;
            width: 441px;
        }

        p {
            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 155%;
            color: #1B3349;
        }
    }
}
