.privacy-policy-section {

	@media only screen and (max-width: 767px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 661px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 600px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 575px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 526px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 485px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 411px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
}