.innovative-options-section .container {
	
	p {
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 155%;
		color: #1B3349;
		top: 1023.5px;
	}
}

.therapies-section {
	background: #EBE9E8;
	
	@media only screen and (max-width: 768px) {
        padding: 30px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	@media only screen and (max-width: 767px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

  	@media only screen and (max-width: 661px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

  	@media only screen and (max-width: 600px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

  	@media only screen and (max-width: 575px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

  	@media only screen and (max-width: 526px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

  	@media only screen and (max-width: 485px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

  	@media only screen and (max-width: 411px) {
        padding: 10px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

	.col-md-rev {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);

		@media only screen and (max-width: 768px) {
	        grid-template-columns: repeat(1, 1fr);
	    }

		@media only screen and (max-width: 767px) {
	        grid-template-columns: repeat(1, 1fr);
	    }

	  	@media only screen and (max-width: 661px) {
	        grid-template-columns: repeat(1, 1fr);
	    }

	  	@media only screen and (max-width: 600px) {
	       	grid-template-columns: repeat(1, 1fr);
	    }

	  	@media only screen and (max-width: 575px) {
	       	grid-template-columns: repeat(1, 1fr);
	    }

	  	@media only screen and (max-width: 526px) {
	        grid-template-columns: repeat(1, 1fr);
	    }

	  	@media only screen and (max-width: 485px) {
	        grid-template-columns: repeat(1, 1fr);
	    }

		@media only screen and (max-width: 411px) {
	        grid-template-columns: repeat(1, 1fr);
	    }

		.text-wrap {
			background: #081D31;
			padding: 60px;

			@media screen 
				and (min-device-width: 400px) 
				and (max-device-width: 700px) 
				and (-webkit-min-device-pixel-ratio: 1) { 

					padding: 35px;
			}

			h2 {
				font-family: $font-primary;
				font-style: normal;
				font-weight: 600;
				font-size: 36px;
				line-height: 45px;
				color: $color-orange
			}

			p {
				font-family: $font-primary;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 155%;
				color: $color-white;
			}
		}

		.img-wrap {
			width: 100%;
			height: 100%;
			
			@media only screen and (max-width: 768px){
				height: 400px;
			}
		}
	}

	.col-md-bottom-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 3rem;
		margin-top: 3rem;
		justify-items: center;
		
		@media only screen and (max-width: 768px) {
	        grid-template-columns: repeat(1, 1fr);
	        grid-gap: 1rem;
	    }

		@media only screen and (max-width: 767px) {
	        grid-template-columns: repeat(1, 1fr);
	        grid-gap: 1rem;
	    }

	  	@media only screen and (max-width: 661px) {
	        grid-template-columns: repeat(1, 1fr);
	        grid-gap: 1rem;
	    }

	  	@media only screen and (max-width: 600px) {
	       	grid-template-columns: repeat(1, 1fr);
	       	grid-gap: 1rem;
	    }

	  	@media only screen and (max-width: 575px) {
	       	grid-template-columns: repeat(1, 1fr);
	       	grid-gap: 1rem;
	    }

	  	@media only screen and (max-width: 526px) {
	        grid-template-columns: repeat(1, 1fr);
	        grid-gap: 1rem;
	    }

	  	@media only screen and (max-width: 485px) {
	        grid-template-columns: repeat(1, 1fr);
	        grid-gap: 1rem;
	    }

		@media only screen and (max-width: 411px) {
	        grid-template-columns: repeat(1, 1fr);
	        grid-gap: 1rem;
	    }

		.card-wrap {
			background: $color-white;
			display: grid;
			grid-auto-rows: minmax(100px, auto);
			border-left: 2px solid $color-orange;
			height: 121px;

			@media only screen and (max-width: 768px) {
		        height: 100%;
		    }

			@media only screen and (max-width: 767px) {
		         height: 100%;
		    }

		  	@media only screen and (max-width: 661px) {
		         height: 100%;
		    }

		  	@media only screen and (max-width: 600px) {
		       	 height: 100%;
		    }

		  	@media only screen and (max-width: 575px) {
		       	 height: 100%;
		    }

		  	@media only screen and (max-width: 526px) {
		         height: 100%;
		    }

		  	@media only screen and (max-width: 485px) {
		         height: 100%;
		    }

			@media only screen and (max-width: 411px) {
		        height: 100%;
		    }

			p {
				font-family: $font-primary;
				font-style: normal;
				font-weight: 600;
				font-size: 13px;
				line-height: 155%;
				color: #1B3349;
				padding: 30px;
				justify-items: center;
				align-items: center;
			}
		}
	}
}