.innovative-options-section .container {
	p {
		font-family: $font-primary;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 155%;
		color: #1B3349;
		top: 1023.5px;
	}
}