// OTI TOPIC GRID 

.grid-row-footer {
	display: grid;
	grid-template-columns: 25rem 1fr 1fr 1fr;
	grid-gap: 1rem;

	@media only screen and (max-width: $bp-tab-lg) {
        grid-template-columns: 20rem 1fr 1fr 1fr;
    }

	@media only screen and (max-width: 767px) {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-container-flex-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;

	@media only screen and (max-width: $bp-tab-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-tab-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

	@media only screen and (max-width: $bp-tab-pt) {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-row-form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-auto-rows: minmax(100px, auto);

	@media only screen and (max-width: $bp-tab-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: $bp-tab-md) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-tab-pt) {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
