// OTI TOPIC GRID 

.grid-row-footer {
	display: grid;
	grid-template-columns: 35rem 1fr;
    grid-gap: 1rem;
    
    @media only screen and (max-width: 1024px) {
		grid-template-columns: 30rem 1fr;
    }

	@media only screen and (max-width: 768px) {
        grid-template-columns: 20rem 1fr;
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-footer-2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 2rem;

        @media only screen and (max-width: $bp-tab-lg) {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            margin-top: 40px;
        }
    }
}

.grid-container-flex-two {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    grid-template-columns: repeat(2, auto);

	@media only screen and (max-width: $bp-tab-lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-tab-md) {
        grid-template-columns: repeat(2, 1fr);
    }

	@media only screen and (max-width: $bp-tab-pt) {
	    grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-row-form {
	display: grid;
	grid-template-columns: repeat(auto-fit,  minmax(100px, 1fr));
	grid-auto-rows: minmax(100px, auto);

	@media only screen and (max-width: $bp-tab-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: $bp-tab-md) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-tab-pt) {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.push-the-boundaries-grids {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	grid-auto-rows: minmax(100px, auto);

	@media only screen and (max-width: $bp-tab-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-tab-md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

	@media only screen and (max-width: $bp-tab-pt) {
		display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

	@media only screen and (max-width: $bp-mobile-lg) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
